@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=MedievalSharp&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp', sans-serif;
}


.login-content {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-box {
    text-align: center;
}

.login-box-title {
    margin-bottom: 25px;
}

.login-box-buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn-signup {
    position: absolute;
    right: 0;
}

.input1 {
    width: 100%;
    height: 5rem;
}
