.post-footer {
    width: 100%;
    height: 50px;
    border: 1px dotted black;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-footer-info {
    width: 100%;
    height: 50%;
    border: 1px dotted black;

}

.post-footer-interact {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.post-footer-interact button {
    height: 50%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
}

.post-footer-interact button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.100);
}