.post-content {
    width: 100%;
}

h2 {
    text-align: center;
}

.post-content-text {
    width: 100%;
    text-align: left;
    background-color: white;
}

.post-content-text span {
    margin: 0 10px 0 10px;
}

.post-content-attach {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content-attach img {
    width: 100%;
}