.post-content {
    width: 100%;
    border: 1px dotted black;
}

.post-content-text {
    width: 100%;
    border: 1px dotted black;
}

.post-content-text span {
    margin: 0 10px 0 10px;
}

.post-content-attach {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content-attach img {
    width: 100%;
}