.create-post {
    font-family: 'MedievalSharp', sans-serif;
    position: fixed;
    width: 1000px;
    height: 400px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}

.create-post-content {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.create-post-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.create-post-title {
    text-align: center;
    font-size: 30px;
}

.invisible {
    display: none;
}

.visible {
    display: fixed;
}