.signup-content {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/tavern02.jpg');
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

.signup-box {
    text-align: center;
    width: 500px;
}

.signup-box-title {
    margin-bottom: 25px;
}

.signup-box-buttons {
    display: flex;
    justify-content: space-evenly;
}
